@model TUPApp.Models.TrainingsAttended

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainingsAttended</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Training)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Training)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearAttended)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearAttended)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
