@model TUPApp.Models.EducationalBackground

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EducationalBackground</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationalAttainment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationalAttainment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.School)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearStarted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearGraduated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearGraduated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
